
:root{
    background-color: #1a689c;
   cursor:pointer;
     
    
    
}
@keyframes wave {
    0%   { transform: scale(1); }
    50%  { transform: scale(2); }
    100% { transform: scale(1); } 
}
#modal{
  background-color: rgb(0, 0, 0);
  color: #A57E9B;
}
.principal{
  font-size: 21px;
  box-sizing: border-box;
  background-color: rgb(32, 190, 218);
  box-shadow: inset 1px 1px 1px 1px white;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 33%;
  left:33%;
  color:#A57E9B;;
  

}

.iframe{
    box-sizing: border-box;
    background-color: rgb(32, 190, 218);
    box-shadow: inset 1px 1px 1px 1px white;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 33%;
    left:33%;
    

   

}

nav{
    background: black;
    color: white;
    height:56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-direction:column
  }
 
  .container {
    display: flex;
  }
.sidenav {
    
    padding-top: 60px;
    border-radius: 2%;
    border:solid;
    border-color: black;
    height: 90%;
    width: 150px;
    position: fixed;
    z-index: -1;
    top: 50px;
    left: 0;
    background-color: #060d68fb;
    overflow-x: hidden;
  }
  .sidenav a {
    cursor:crosshair;
    border:solid;
    border-color:gray;
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  .sidenav a:hover {
    background-color: #004777;
    color: rgb(255, 166, 0);
  }
  .snake {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input {
    margin: 3px;
}

input.wave {
    animation: wave 0.4s cubic-bezier(.17, .67, .83, .67);
}
#ajustes {
  justify-content: center;
  align-self: flex-start;
  align-items: baseline;
  align-content: flex-start;
  margin-left:10%;
  
  color: #000;
}
.ajustes{
 font-size:21px;
  background-color: rgb(32, 190, 218);
  box-shadow: inset 1px 1px 1px 1px white;
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
 margin-left: 10%;
 margin-top: 10%;
}
h2{
  position: fixed;
  bottom: 3%;
  left:33%;
}